@media only screen and (min-width: 40em) {

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 26px;
    }

    h3,
    p {
        font-size: 23px;
    }

    main,
    footer {
        max-width: 100%;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        flex: 1 1 auto;
        display: block;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation a {
        font-size: 25px;
    }

    nav ul {
        flex-flow: row wrap;
        margin-left: 2%;
    }

    nav ul li {
        float: left;
        font-size: 0.8em;
    }

    footer p {
        font-size: 23px;
    }

    .father {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #resumen-image{
        padding: .9em;
        height: 400px;
    }

    .imagenes {
        height: 450px;
        width: 400px;
    }

    .juegos,
    .productos,
    .products,
    .juego,
    .info {
        text-align: center;
    }

    .article {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .text {
        margin-top: -48px;
    }

    #contacto {
        margin-top: -30px;
    }

    .padre {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}